.cart-widget {
    dislay: block;
    margin:15px 0;
}

.cart-widget .cart-button-group {
    display: block;
    text-align: center;
}

.cart-widget .cart-button-group > * {
    vertical-align: middle
}

.cart-widget .cart-button-group > *::selection {
    background: none;
    color:inherit;
}

.cart-widget .cart-buy-button, .cart .cart-submit-button {
    display: inline-block;
    margin-top:15px;
    line-height: 35px;
    border: 1px solid;
    padding: 0 30px;
    color: #474747;
    font-size:21px;
    background: none;
    cursor: pointer;
}

.cart-widget .cart-button-group .cart-button, .cart .cart-button {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color:#fff;
    background: #fb9d8f;
    text-decoration:none;
    font-weight:bold;
    font-size:18px;
}


.cart-widget .cart-button-group .cart-input, .cart .cart-input {
    border:1px solid #fb9d8f;
    text-align:center;
    line-height: 25px;
    height:25px;
    box-sizing: border-box;
    outline:none;
    font-size:18px;
}

.cart-widget .cart-button-group .cart-input:focus,  .cart .cart-input:focus {
    background: #fff3f3;
}

.cart__list {
    margin: 30px 0 24px;
    padding: 20px 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.cart__line {
    display: table;
    height: 55px;
    width: 100%;
    padding: 10px 0;
    margin-top: -1px;
}
.cart__line-product {
    width: 52%;
    display: table-cell;
    vertical-align: middle;
    padding-right: 12px;
}
.cart__line-name {
    margin: 0;
    font-size: 21px;
    line-height: 1.2;
}
.cart__line-img {
    float:left;
    margin-right:10px;
}
.cart__line-description {
    font-size: 16px;
    line-height: 1.2;
    color: #878686;
}
.cart__line-quantity,
.cart__line-count-control {
    display: table-cell;
    width: 14%;
    vertical-align: middle;
}
.cart__line-count-control {
    text-align: center;
}
cart__line-count-control > * {
    display:inline-block;
}
.cart__line-count-control-input {
    display: inline-block;
}
.cart__line-price {
    display: table-cell;
    width: 24%;
    text-align: right;
    font-size: 23px;
    vertical-align: middle;
}
.cart__sum {
    font-size: 24px;
}
@media (max-width: 768px) {
    .cart__line {
        display: block;
        height: auto;
        margin:0 0 20px 0;
        padding:0;
    }

    .cart__line-product {
        display:block;
        width:100%;
        padding:0;
        clear:both;
        min-height: 40px;
        margin-bottom: 10px;
    }
    .cart__line-count-control {
        display: inline-block;
        width:50%;
    }
    .cart__line-price {
        display: inline-block;
        width:50%;
        margin-left: -0.3em;
        text-align: center;
    }
    .cart__line-price a {
        float: right;
    }
}